body {
  width: 1440px;
  /* 대형노트북 기준 */
  width: 100%;
  height: 100%;
  background-color: black;

}

.App {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'NanumGothic';
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  text-decoration: none;
}

a {
  text-decoration: none;
}


a:visited {
  color: lightslategray
}

a:link {
  color: lightslategray;
}

a:active {
  color: lightslategray
}

.nav-item:first-child {
  width: 10%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.carousel-item {
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-item:hover {
  cursor: pointer;
}

.slide-img {
  position: relative;
  top: -2px;
  width: 50%;
  height: 100%;
  object-fit: cover;

}

.stores {
  height: 30rem;
  /* padding: 50px; */
}

.stores:hover {
  cursor: pointer;
}

.stores:hover > img {
  height: 90%;
  width: 90%;
  transition: all 0.6s;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.d-flex {
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.d-flex > img {
  width: 50%;
  height: 80%;
}

.d-flex > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marker { 
  color: black;
  padding: 10px;
}
