body {
  width: 100%;
  height: 100%;

}

#root {
  height: 100%;
}

.App {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'NanumGothic';
  overflow: hidden;
  height: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  text-decoration: none;
}

a {
  text-decoration: none;
}


a:visited {
  color: lightslategray
}

a:link {
  color: lightslategray;
}

a:active {
  color: lightslategray
}

.nav-item:first-child {
  width: 10%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.carousel-item {
  display: flex;
  width: 100%;
  height: 500px;
}

.carousel-item:hover {
  cursor: pointer;
}

.slide-img {
  position: relative;
  top: -2px;
  width: 50%;
  height: 100%;
  object-fit: cover;

}

.stores {
  height: 30rem;

}

.row {
  display: flex;
  justify-content: center
}

.row>* {
  padding: 0px !important;
}

.stores:hover {
  cursor: pointer;
}

.stores:hover>img {
  padding-top: 2rem;
  height: 90%;
  width: 90%;
  transition: all 0.6s;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.d-flex {
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.d-flex>img {
  width: 50%;
  height: 80%;
  margin-left: 20px;
}

.d-flex>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top>h5 { 
  margin-top: 60px;
}

ul {
  text-align: left;
  margin-top: 30px !important;
}

li {
  margin-bottom: 20px;
}

.bottom {
  display: flex;
  align-self: center;
  height: 30%;
}

.detail-slide {
  width: 25rem;
  height: 100%;
  position: absolute;
}

.carousel-indicators {
  display: none !important;
}

.detail-slide>.carousel-inner>.carousel-item>img {
  width: 100%;
  height: 60%;
}

.marker {
  color: black;
  padding: 10px;
}

.type {
  height: 84vh;
}

.card-img-top {
  width: 100%;
  height: 30rem;
  object-fit: cover
}