/* 기본세팅 */
* {
  font-family: "League Spartan", sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  width: 1440px;
  height: 830px;
}

/* nav바 디자인 */

.nav-bar {
  position: absolute;
  top: 50px;
  left: 100px;
  color: white;
  z-index: 1;
}

a {
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}

nobr {
  font-weight: 400;
  font-size: 26px;
  margin-right: 20px;
}

/* 메인부분 디자인 */

.container {
  width: 1440px;
  height: 100%;
  display: flex;
  position: relative;
}

/* 상단부분 디자인 */

.top_article {
  height: 66%;
}

.container .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 70px 0px;
  box-sizing: border-box;
  height: 96.4%;
}

.product-img-desktop {
  width: 840px;
}

.product-img-mobile {
  display: none;
}

h1 {
  font-size: 50px;
}

.main_text {
  color: hsl(0, 0%, 63%);
  line-height: 25px;
  height: 20%;
}

.shopping {
  text-transform: uppercase;
  letter-spacing: 16px;
  font-weight: 600;
  text-decoration: none;
}

.shopping:hover {
  cursor: pointer;
  color: hsl(0, 0%, 63%);
}

.shopping:hover svg {
  fill: hsl(0, 0%, 63%);
}

.shopping:visited {
  color: black;
}

button {
  background-color: black;
  border: none;
  padding: 20px 34.3px;
}

button:nth-child(2) {
  position: relative;
  left: -5px;
}

button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 27%);
}

.control {
  position: relative;
  left: -70px;
  width: 200px;
}

/* 하단부분 디자인 */

.foot_article {
  bottom: 0px;
  margin: 0;
  padding: 0;
  height: 34%;
}

.foot_article img:nth-child(1) {
  width: 420px;
  height: 266px;
}

.foot_article img:nth-child(3) {
  width: 440px;
  height: 266px;
}

.bottom-title {
  font-weight: 700;
  letter-spacing: 10px;
  font-size: 20px;
  color: black;
}

.foot_article .container {
  color: hsl(0, 0%, 63%);
  line-height: 20px;
}

/* shop 부분 디자인 */
.Shop {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  object-fit: cover;
  position: relative;
  bottom: 150px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col {
  width: 25%;
}

.card {
  position: relative;
  top: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  height: 100%;
}

.card img {
  object-fit: contain;
  width: 100%;
}

.card-body {
  padding: 20px;
}

.card-body button {
  background-color: black;
  color: white;
  border-radius: 10px;
  position: relative;
  left: 60%;
}

.count_box {
  width: 40%;
  height: 20%;
  border: 1px solid black;
  box-sizing: border-box;
}

.count_box button {
  color: black;
  background-color: lightgrey;
  left: unset;
  padding: 5px;
  border-radius: unset;
  width: 20%;
  height: 100%;

}

.count_box input {
  text-align: center;
  height: 100%;
  width: 60%;
  border: none;
  border-radius: 0px;
  padding: unset;
}